*
{
  margin:0;
  padding:0;
}

header
{
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(2017-jaguar-f-type-svr-first-drive.jpg);
   height: 100vh;
   background-size: cover;
   background-position: cover;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.top
{
    float: right;
    list-style: none;
    margin-top: 10px;
}

.main-nav li
{
   display: inline-block;
   
}  
.main-nav li a
{  
   color: white;
   text-decoration: none;
   padding: 5px 20px;
   font-family: "Roboto",sans-serif;
   font-size: 15px;
} 
/* 
.main-nav li.active a
{  
   border: 1px solid white;
}  
*/
/*
.main-nav li a:hover
{  
   border: 1px solid white;
} 
*/ 
.logo img
{  
   width:150px;
   height: auto;
   float: left;
}  
table,tr,td
{
    border: 1px red;
    width: 400px;
    height: 100px;
}
body
{  
   font-family: monospace;
}  
.row
{  
   max-width: 1200px;
   margin: auto;
}  
.hero
{  
   position: absolute;
   width: 1200px;
   margin-left: 20px;
   margin-top:0px;
}  
   
h1 
{  
   color: white;
   text-transform: uppercase;
   font-size: 70px;
   text-align: center;
   margin-top: 275px;
}  
.button
{   
   margin-top: 30px;
   margin-left: 440px 
   
}  
.btn
{  
   border: 1px solid white;
   padding: 10px 30px;
   color: white;
   text-decoration: none;
   margin-right: 13px;
   text-transform: uppercase;
}  
.btn-one
{  
  
   font-family: "Roboto", sans-serif;
}  
.btn-one:hover
{
    background-color:darkturquoise;
    transition:all 0.5s ease-in;
}
.btn-two
{  
   font-family: "Roboto", sans-serif;  
}  
.btn-two:hover
{  
   background-color: darkorange;
   transition: all 0.5s ease-in;
}  

.topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
/*
.active {
    background-color: #4CAF50;
    color: white;
}
*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}





